%p#notice= notice

%p
  %b Title:
  = @blog.title
%p
  %b Subtext:
  = @blog.subtext
%p
  %b Content:
  = @blog.content
%p
  %b Published date:
  = @blog.published_date

= link_to 'Edit', edit_blog_path(@blog)
\|
= link_to 'Back', blogs_path
